@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
input {
  width: 250px;
  height: 40px;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}
table
{
  border-collapse: collapse;
  width: 100%;
  font-size: 25px;
  text-align: left;
}
thead
{
  background-color: #588c7e;
  color: white;
  width: 100%;
}
tbody
{
  margin-top: 150px;
}
th, td
{
  padding: 10px;
  border : 1px solid #dddddd;
}
.flex-row{
  display: flex;
  flex-direction: row;
 
  align-items: center;
  gap: 2rem;
 
}
.grid-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.grid-col
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}