.login_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #041C2B;
}
.login_button
{
    background-color: #00A1EA;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    
}