.food_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70vw;
  padding-top: 3rem;
}
.food_heading {
  font-size: 2rem;
  font-weight: 700;
  color: #036491;
}
.button {
  background-color: #04364f;
  color: white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  outline: none;
}

.check_in_btn {
  background-color: #0278af;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}

.check_in_btn:hover {
  background-color: #173a4b;
}
.check_in_btn_1 {
  background-color: rgb(117, 1, 1);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.check_in_btn_1:hover {
  background-color: rgb(85, 3, 3);
}
.confirm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  font-size: 20px;
  font-weight: 400;
  color: #036491;
}
.box {
  margin-top: 3rem;
}
